@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Inter, sans-serif;
  @apply bg-dark-gray;
  background-image: url('../public/grid-lines.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

.perspective {
  transform: perspective(400px) rotateX(-2deg) scale(0.9, 0.9);
}