@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Inter, sans-serif;
  @apply text-dark-gray;
}

/* main {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 20px;
} */

@import "./hero.css";
@import "./javascript.css";
@import "./api.css";
@import "./markup.css";
@import "./scores.css";
